@font-face {
  font-family: "fotIconStyle";
  src: url('fotIconStyle.eot?t=1650599106783'); /* IE9*/
  src: url('fotIconStyle.eot?t=1650599106783#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("fotIconStyle.woff2?t=1650599106783") format("woff2"),
  url("fotIconStyle.woff?t=1650599106783") format("woff"),
  url('fotIconStyle.ttf?t=1650599106783') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fotIconStyle.svg?t=1650599106783#fotIconStyle') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'fotIconStyle' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-calcicon:before { content: "\ea01"; }
.icon-chevron-expand:before { content: "\ea02"; }
.icon-clipboard:before { content: "\ea03"; }
.icon-dataseticon:before { content: "\ea04"; }
.icon-detection:before { content: "\ea05"; }
.icon-drag:before { content: "\ea06"; }
.icon-explorationicon:before { content: "\ea07"; }
.icon-info-circle-fill:before { content: "\ea08"; }
.icon-modelicon:before { content: "\ea09"; }
.icon-numericIcon:before { content: "\ea0a"; }
.icon-pencil:before { content: "\ea0b"; }
.icon-stringIcon:before { content: "\ea0c"; }
.icon-timeIcon:before { content: "\ea0d"; }
