@font-face {font-family: "fotIconStyle";
  src: url('fotIconStyle.eot?t=1649675200045'); /* IE9*/
  src: url('fotIconStyle.eot?t=1649675200045#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("fotIconStyle.woff2?t=1649675200045") format("woff2"),
  url("fotIconStyle.woff?t=1649675200045") format("woff"),
  url('fotIconStyle.ttf?t=1649675200045') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fotIconStyle.svg?t=1649675200045#fotIconStyle') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'fotIconStyle' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calcicon:before { content: "\ea01"; }
.icon-chevron-expand:before { content: "\ea02"; }
.icon-clipboard:before { content: "\ea03"; }
.icon-dataseticon:before { content: "\ea04"; }
.icon-detection:before { content: "\ea05"; }
.icon-drag:before { content: "\ea06"; }
.icon-explorationicon:before { content: "\ea07"; }
.icon-modelicon:before { content: "\ea08"; }
.icon-numericIcon:before { content: "\ea09"; }
.icon-pencil:before { content: "\ea0a"; }
.icon-stringIcon:before { content: "\ea0b"; }
.icon-timeIcon:before { content: "\ea0c"; }

$icon-calcicon: "\ea01";
$icon-chevron-expand: "\ea02";
$icon-clipboard: "\ea03";
$icon-dataseticon: "\ea04";
$icon-detection: "\ea05";
$icon-drag: "\ea06";
$icon-explorationicon: "\ea07";
$icon-modelicon: "\ea08";
$icon-numericIcon: "\ea09";
$icon-pencil: "\ea0a";
$icon-stringIcon: "\ea0b";
$icon-timeIcon: "\ea0c";

